.footer {
    bottom: 0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(35, 47, 56, 0.6);
    border-radius: 0px;
    &__inner {
        padding: 20px 20px 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__link {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        transition: all .5s;
        position: relative;
        padding-bottom: 20px;
        &::after {
            transition: all .5s;
            content: " ";
            position: absolute;
            width: 0%;
            height: 1px;
            background: #fff;
            display: block;
        }
        &:hover {
            color: #fff;
            ;
        }
        &:hover::after {
            width: 100%;
        }
    }
}